@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.section1 {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0,0,0,0.64) 100%, rgba(255,255,255,0) 100%), url(/assets/thub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.container {
  height: 80vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: url(/assets/Black_cursor.png), auto;
  /* transform: rotateY(360deg);
  transition: all 5s ease; */
}

.scroll {
  overflow-y: auto;
  height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.hiddenu {
  overflow-x: hidden;
}

div.scroll-container {
  width: 68vh;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.scroll-container::-webkit-scrollbar {
  display: none;
}

div.scroll-container img {
  margin: 0 5px 0 0;
  width: 67%;
}

.box {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav {
  margin-right: 10px;
}

.nav-link {
  padding: 0.2rem 0;
  margin: 5px 0;
  cursor: url(/assets/Black_pointer.png), auto;
}

.nav-link.active, .nav-link:hover {
  font-weight: 800;
  border-bottom: 3px solid white;
  padding-left: 15px;
}

.pjbtn {
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff00;
  color: #ffffff;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #ffffff;
  margin-right: 20px;
  cursor: url(/assets/Black_pointer.png), auto !important;
}

.pjbtn:hover {
  transform: scale(1.12);
  font-weight: 700;
}

.no-bg, .no-bg:focus, .no-bg:hover {
  background: #ffffff00;
  color: #ffffff;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 0;
  margin: 3px 0;
  padding: 6px 12px 6px 0;
}

.no-bg:focus {
  box-shadow: none;
}

.no-bg::placeholder {
  color: #ffffff;
  background: #ffffff00;
}

.pnbtns {
  margin-top: 25px;
  margin-right: 8px;
}

.pnbtn {
  font-size: 12px;
  margin-left: 12px;
  border: 2px solid #ffffff;
  background: #ffffff00;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: url(/assets/Black_pointer.png), auto !important;
}

.pnbtn:hover, .soc:hover {
  transform: scale(0.85);
}

.cursor-pointer {
  cursor: url(/assets/Black_pointer.png), auto !important;
}

@media only screen and (max-width: 720px) {
  .section1 {
    background: linear-gradient(0deg, rgba(0,0,0,0.64) 100%, rgba(255,255,255,0) 100%), url(/assets/thub-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  div.scroll-container img {
    margin: 0;
    width: 50%;
  }

  .mob-hide {
    display: none !important;
  }

  .fix-a {
    padding: 10px 12px !important;
  }

  .fix-b {
    padding: 0px 12px !important;
  }
}